<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625977275840-4ve6j4tf8rjtqpk7lsvv9jv5ga5ejael.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625977275840-4ve6j4tf8rjtqpk7lsvv9jv5ga5ejael</string>
	<key>API_KEY</key>
	<string>AIzaSyAEMA6xVY6TmV_pP08pNeq-c58t9rh5qNE</string>
	<key>GCM_SENDER_ID</key>
	<string>625977275840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iPad-demo-ppx.preparationApp</string>
	<key>PROJECT_ID</key>
	<string>preparationapp-6a34c</string>
	<key>STORAGE_BUCKET</key>
	<string>preparationapp-6a34c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625977275840:ios:2754fbc764652c19d64425</string>
</dict>
</plist>