# CocoaPods
Pods/

# Xcode
*.xcworkspace
!Pods/Pods.xcworkspace
DerivedData/
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# You may need to commit certain workspace files if you have a custom setup
# Just ensure to prefix with ! to negate the ignore if needed
